<!DOCTYPE html>
<html>
<head>
    <!-- mh-head-head (alias: raw-head) -->
$if(mh-head-head)$
    $mh-head-head$
$endif$
$if(raw-head)$
    $raw-head$
$endif$
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="district10" />
    <meta name="generator" content="md2html" />
    <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
    <!-- mh-css-before-cdn -->
$for(mh-css-before-cdn)$
    <link rel="stylesheet" href="$mh-css-before-cdn$" type="text/css" />
$endfor$
    <!-- mh-css-before -->
$for(mh-css-before)$
$if(absulote-basedir-url)$
    <link rel="stylesheet" href="$absolute-rootdir-url$/$md2htmldir$/$mh-css-before$" type="text/css" />
$else$
    <link rel="stylesheet" href="$rootdir$$md2htmldir$/$mh-css-before$" type="text/css" />
$endif$
$endfor$
    <!-- mh-css -->
$for(mh-css)$
$if(absulote-basedir-url)$
    <link rel="stylesheet" href="$absolute-rootdir-url$/$md2htmldir$/$mh-css$" type="text/css" />
$else$
    <link rel="stylesheet" href="$rootdir$$md2htmldir$/$mh-css$" type="text/css" />
$endif$
$endfor$
    <!-- mh-css-after-cdn (alias: remote-css )-->
$for(mh-css-after-cdn)$
    <link rel="stylesheet" href="$mh-css-after-cdn$" type="text/css" />
$endfor$
$for(remote-css)$
    <link rel="stylesheet" href="$remote-css$" type="text/css" />
$endfor$
    <!-- mh-css-after (alias: local-css) -->
$for(mh-css-after)$
$if(absulote-basedir-url)$
    <link rel="stylesheet" href="$absolute-rootdir-url$/$md2htmldir$/$mh-css-after$" type="text/css" />
$else$
    <link rel="stylesheet" href="$rootdir$$md2htmldir$/$mh-css-after$" type="text/css" />
$endif$
$endfor$
$for(local-css)$
$if(absulote-basedir-url)$
    <link rel="stylesheet" href="$absolute-rootdir-url$/$md2htmldir$/$local-css$" type="text/css" />
$else$
    <link rel="stylesheet" href="$rootdir$$md2htmldir$/$local-css$" type="text/css" />
$endif$
$endfor$
    <!-- mh-css-raw (alias: raw-css) -->
$if(mh-css-raw)$
    $mh-css-raw$
$endif$
$if(raw-css)$
    $raw-css$
$endif$
$if(math)$
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML-full" type="text/javascript"></script>
$endif$
    <!-- mh-head-tail -->
$if(mh-head-tail)$
    $mh-head-tail$
$endif$
</head>
<body $if(mh-native)$id ="md2html-body" class="markdown-body"$endif$>
<!-- mh-nav (true/false, default: false) -->
$if(mh-nav)$
<input id="nav-btn" type="Button" onclick="loadIndex()">
$endif$
<!-- body-before -->
$if(body-before)$
$body-before$
$endif$
<!-- body (Modify with CAUSION) -->
$body$
<!-- body-after -->
$if(body-after)$
$body-after$
$endif$
<!-- mh-info (true/false, default: true) -->
$if(mh-info)$
<!-- <code id="mh-meta-json" style="display: none;"> $meta-json$ </code> -->
<script>
    var mh = {
        "rootdir": "$rootdir$",
        "absoluteRootdirUrl": "$absolute-rootdir-url$",
        "thisPath": "$thispath$",
        "files": [$for(files)$"$files$"$sep$, $endfor$],
        "pagetitle": $if(pagetitle)$"$pagetitle$"$else$"NO TITLE! (Use `title: <TITLE_NAME>' to set page title.)"$endif$,
    };
</script>
$endif$
<!-- mh-js-before-cdn -->
$for(mh-js-before-cdn)$
<script src="$mh-js-before-cdn$"></script>
$endfor$
<!-- mh-js-before -->
$for(mh-js-before)$
$if(absulote-basedir-url)$
<script src="$absolute-rootdir-url$/$md2htmldir$/$mh-js-before$"></script>
$else$
<script src="$rootdir$$md2htmldir$/$mh-js-before$"></script>
$endif$
$endfor$
<!-- mh-js -->
$for(mh-js)$
$if(absulote-basedir-url)$
<script src="$absolute-rootdir-url$/$md2htmldir$/$mh-js$"></script>
$else$
<script src="$rootdir$$md2htmldir$/$mh-js$"></script>
$endif$
$endfor$
<!-- mh-js-after-cdn (alias: remote-js) -->
$for(mh-js-after-cdn)$
$if(absulote-basedir-url)$
<script src="$absolute-rootdir-url$/$md2htmldir$/$mh-js-after-cdn$"></script>
$else$
<script src="$rootdir$$md2htmldir$/$mh-js-after-cdn$"></script>
$endif$
$endfor$
$for(remote-js)$
$if(absulote-basedir-url)$
<script src="$absolute-rootdir-url$/$md2htmldir$/$remote-js$"></script>
$else$
<script src="$rootdir$$md2htmldir$/$remote-js$"></script>
$endif$
$endfor$
<!-- mh-js-after (alias: local-js) -->
$for(mh-js-after)$
$if(absulote-basedir-url)$
<script src="$absolute-rootdir-url$/$md2htmldir$/$mh-js-after$"></script>
$else$
<script src="$rootdir$$md2htmldir$/$mh-js-after$"></script>
$endif$
$endfor$
$for(local-js)$
$if(absulote-basedir-url)$
<script src="$absolute-rootdir-url$/$md2htmldir$/$local-js$"></script>
$else$
<script src="$rootdir$$md2htmldir$/$local-js$"></script>
$endif$
$endfor$
<!-- mh-js-raw (alias: raw-js) -->
$if(mh-js-raw)$
    $mh-js-raw$
$endif$
$if(raw-js)$
    $raw-js$
$endif$
</body>
</html>
